[project]
	description = A standalone and lightweight C library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John D. Mitchell (johnm)
[access "refs/for/refs/*"]
	read = group user/John D. Mitchell (johnm)
	push = group user/John D. Mitchell (johnm)
	label-Code-Review = -2..+2 group user/John D. Mitchell (johnm)
	label-Verified = -1..+1 group user/John D. Mitchell (johnm)
	rebase = group user/John D. Mitchell (johnm)
	removeReviewer = group user/John D. Mitchell (johnm)
	submit = group user/John D. Mitchell (johnm)
[access "refs/heads/*"]
	read = group user/John D. Mitchell (johnm)
	create = group user/John D. Mitchell (johnm)
	push = +force group user/John D. Mitchell (johnm)
	pushMerge = group user/John D. Mitchell (johnm)
[access "refs/tags/*"]
	push = group user/John D. Mitchell (johnm)
	push = +force group user/John D. Mitchell (johnm)
